@import "./root.css";

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--primaryDarkColor);
  font-size: 16px;
  line-height: 1.5;
  color: rgb(20, 20, 20);
  font-weight: 400;
  font-family: "Founders Grotesk Test", "Georgia";
}

main {
  padding-top: 48px;
  max-width: var(--mainWidth);
  min-width: 500px;
  margin: 0 auto;
}

h1 {
  color: var(--primaryColor);
}

.style-controller {
  height: 20px;
  transition: all 0.3s;
}

.style-controller--open {
  height: 100px;
}

.accordion {
  --height: 15px;
  background: #eee;
  color: #444;
  cursor: pointer;
  padding: var(--height);
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  box-shadow: 0px 0px 14px 2px #2a3446a1;
}

.accordion:hover {
  background-color: antiquewhite;
}

.panel {
  padding: 0px 20px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  position: absolute;
  top: 80px;
  left: 0;
}

.panel__inner {
  padding: 20px;
}

.custom-slider {
  width: 100%;
}

.accordion-icon {
  width: 25px;
  height: 2px;
  background: black;
  position: absolute;
}

.accordion-icon-container {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.51, -0.73, 0.53, 1.74);
}

.accordion-icon-container--active {
  transform: rotate(45deg);
}

.icon-1 {
  transform: rotate(90deg);
  transform-origin: 50%;
}
